.navbar{
    background-color: #b6b6fd;
    
}
h1{
    text-align: center;
    
}
Form{
    text-align: center;
    width: 500px;
    margin: auto;
}
.btn {
    text-align: center;
   
    margin-left: 920px;
}


p{
    
    text-align: center;
}
